body, html {
    width: 100%;
    height: 100%;
    background-color: #000;

    margin: 0px;
}
.slider_container {
    width: 400px;
    height: 400px;
    margin: 100px auto 0px auto;
    border: solid #fff 4px;

    overflow: hidden;
    
    .slider_line {
        width: 1200px;
        display: flex;
        position: relative;

        left: 0px;

        transition: all ease 0.5s;

        .img1 {
            width: 400px;
            height: 400px;
            background-color: darkgreen;
        }
        .img2 {
            width: 400px;
            height: 400px;
            background-color:deeppink;
        }
        .img3 {
            width: 400px;
            height: 400px;
            background-color: darkviolet;
        }
    }
    
}

.btn_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    

    .btn {
        width: 140px;
        height: 60px;
    
        background-color: #4d4d4d;
        border: none;
        color: #fff;
        align-items: center;
    
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;
        
        margin: 0px 100px 0px 100px;

        cursor: pointer;

        border-radius: 12px;


    }
    
    
    
    .next_button {
        
    }
    
    .prev_button {
    
    }
}
